<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myhandjava.momentours.file.query.repository.FileMapper">

    <resultMap id="fileResultMap" type="com.myhandjava.momentours.file.query.dto.FileDTO">
        <id property="fileNo" column="file_no"/>
        <result property="fileOriginalName" column="file_original_name"/>
        <result property="fileSaveName" column="file_save_name"/>
        <result property="fileSize" column="file_size"/>
        <result property="fileExtension" column="file_extension"/>
        <result property="fileDirectory" column="file_directory"/>
        <result property="fileIsDeleted" column="file_is_deleted"/>
        <result property="fileBoardSort" column="file_board_sort" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="inquiryNo" column="inquiry_no"/>
        <result property="momentNo" column="moment_no"/>
        <result property="coupleNo" column="couple_no"/>
        <result property="diaryNo" column="diary_no"/>
    </resultMap>

    <!-- 일기 번호 파일 조회 -->
    <select id="selectFilesByDiaryNo" resultMap="fileResultMap" parameterType="_int">
        SELECT file_no
             , file_original_name
             , file_save_name
             , file_size
             , file_extension
             , file_directory
             , file_is_deleted
             , file_board_sort
             , diary_no
          FROM tb_file
         WHERE diary_no = #{ diaryNo }
           AND file_is_deleted = false
    </select>

</mapper>