<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myhandjava.momentours.randomquestion.query.repository.RandomQuestionMapper">

    <resultMap id="RandomQuestionResultMap" type="com.myhandjava.momentours.randomquestion.command.domain.aggregate.RandomQuestion">
        <id property="randquesno" column="randQuesNo"/>
        <result property="randquescreatedate" column="randQuesCreateDate"/>
        <result property="randquescontent" column="randQuesContent"/>
        <result property="randquesreply" column="randQuesReply"/>
        <result property="randquesisdeleted" column="randQuesIsDeleted"/>
        <result property="randquescoupleno" column="randQuesCoupleNo"/>
    </resultMap>
    <select id="findCurrentRandomQuestionByMemberNo" resultMap="RandomQuestionResultMap">
        SELECT rq.randQuesNo, rq.randQuesContent, rq.randQuesCreateDate
        FROM randomquestion rq
                 JOIN couple cl
                      ON (rq.randQuesCoupleNo = cl.coupleNo)
                          AND (cl.coupleUserNo1 = #{userNo} OR cl.coupleUserNo2 = #{userNo})
                 JOIN user u
                      ON u.userNo = #{userNo}
        WHERE DATE(rq.randQuesCreateDate) = DATE(u.userLastLogin)
          AND rq.randQuesIsDeleted = FALSE
        ORDER BY rq.randQuesCreateDate DESC
            LIMIT 1;

    </select>
</mapper>