<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myhandjava.momentours.diary.query.repository.DiaryMapper">

    <resultMap id="commentResultMap" type="com.myhandjava.momentours.diary.query.dto.CommentDTO">
        <id property="commentNo" column="comment_no"/>
        <result property="commentContent" column="comment_content"/>
        <result property="commentCreateDate" column="comment_create_date"/>
        <result property="commentUpdateDate" column="comment_update_date"/>
        <result property="commentUserNo" column="comment_user_no"/>
        <result property="commentIsDeleted" column="comment_is_deleted"/>
    </resultMap>

    <resultMap id="fileResultMap" type="com.myhandjava.momentours.file.query.dto.FileDTO">
        <id property="fileNo" column="file_no"/>
        <result property="fileOriginalName" column="file_original_name"/>
        <result property="fileSaveName" column="file_save_name"/>
        <result property="fileSize" column="file_size"/>
        <result property="fileExtension" column="file_extension"/>
        <result property="fileDirectory" column="file_directory"/>
        <result property="fileIsDeleted" column="file_is_deleted"/>
        <result property="fileBoardSort" column="file_board_sort"/>
        <result property="diaryNo" column="diary_no"/>
    </resultMap>

    <!-- DiaryDTO에 대한 ResultMap, CommentDTO를 collection으로 포함 -->
    <resultMap id="diaryResultMap" type="com.myhandjava.momentours.diary.query.dto.DiaryDTO">
        <id property="diaryNo" column="diary_no"/>
        <result property="diaryContent" column="diary_content"/>
        <result property="diaryCreateDate" column="diary_create_date"/>
        <result property="diaryUpdateDate" column="diary_update_date"/>
        <result property="diaryUserNo" column="diary_user_no"/>
        <result property="coupleNo" column="couple_no"/>
        <result property="diaryIsDeleted" column="diary_is_deleted"/>
        <collection property="comments" ofType="com.myhandjava.momentours.diary.query.dto.CommentDTO" resultMap="commentResultMap"/>
        <collection property="files" ofType="com.myhandjava.momentours.diary.query.dto.FileDTO" resultMap="fileResultMap"/>
    </resultMap>

    <!-- 일기 날짜 조회(+ 날짜 검색) -->
    <select id="selectDiary" resultMap="diaryResultMap" parameterType="com.myhandjava.momentours.diary.query.dto.DiaryDTO">
        SELECT a.diary_no
             , a.diary_content
             , a.diary_create_date
             , a.diary_update_date
             , a.diary_user_no
             , a.couple_no
             , a.diary_is_deleted
             , b.comment_no
             , b.comment_content
             , b.comment_create_date
             , b.comment_update_date
             , b.comment_user_no
             , b.comment_is_deleted
             , c.file_no
             , c.file_original_name
             , c.file_save_name
             , c.file_size
             , c.file_extension
             , c.file_directory
             , c.file_board_sort
          FROM tb_diary a
          LEFT JOIN tb_comment b ON a.diary_no = b.diary_no
                AND b.comment_is_deleted = false
          LEFT JOIN tb_file c ON a.diary_no = c.diary_no
                AND c.file_is_deleted = false
         WHERE a.couple_no = #{coupleNo}
           AND DATE(a.diary_create_date) = #{diaryCreateDate}
           AND a.diary_is_deleted = false
    </select>

    <!-- 일기 전체 조회 -->
    <select id="selectAllDiary" resultMap="diaryResultMap" parameterType="_int">
        SELECT a.diary_no
        , a.diary_content
        , a.diary_create_date
        , a.diary_update_date
        , a.diary_user_no
        , a.couple_no
        , a.diary_is_deleted
        , b.comment_no
        , b.comment_content
        , b.comment_create_date
        , b.comment_update_date
        , b.comment_user_no
        , b.comment_is_deleted
        , c.file_no
        , c.file_original_name
        , c.file_save_name
        , c.file_size
        , c.file_extension
        , c.file_directory
        , c.file_board_sort
        FROM tb_diary a
        LEFT JOIN tb_comment b ON a.diary_no = b.diary_no
              AND b.comment_is_deleted = false
        LEFT JOIN tb_file c ON a.diary_no = c.diary_no
        AND c.file_is_deleted = false
        WHERE a.couple_no = #{coupleNo}
        AND a.diary_is_deleted = false
    </select>

    <select id="selectCountDiary" resultType="int" parameterType="com.myhandjava.momentours.diary.query.dto.DiaryDTO">
        SELECT COUNT(*) AS '일기횟수'
          FROM tb_diary
         WHERE diary_user_no = #{ diaryUserNo }
           AND DATE(diary_create_date) = #{ diaryCreateDate };
    </select>

</mapper>