<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myhandjava.momentours.momentcourse.query.repository.MomentCourseMapper">

    <resultMap id="momentCourseResultMap" type="com.myhandjava.momentours.momentcourse.query.dto.MomentCourseDTO">
        <id property="momCourseNo" column="mom_course_no"/>
        <result property="momCourseTitle" column="mom_course_title"/>
        <result property="momCourseSort" column="mom_course_sort"/>
        <result property="momCourseLike" column="mom_course_like"/>
        <result property="momCourseCreateTime" column="mom_course_create_date"/>
        <result property="momCourseUpdateTime" column="mom_course_update_date"/>
        <result property="momCourseMemo" column="mom_course_memo"/>
        <result property="momCoursePublic" column="mom_course_public"/>
        <result property="momCourseIsDeleted" column="mom_course_is_deleted"/>
        <result property="momCourseCoupleNo" column="mom_course_couple_no"/>
        <result property="momCourseFavorite" column="mom_course_favorite"/>

        <collection property="momCourseLocations" ofType="com.myhandjava.momentours.momentcourse.query.dto.MomcourselocationDTO"
                    resultMap="momCourseLocationResultMap"/>
        <collection property="moments" ofType="com.myhandjava.momentours.moment.query.dto.MomentDTO"
                    resultMap="momentResultMap"/>
    </resultMap>

    <resultMap id="momCourseLocationResultMap" type="com.myhandjava.momentours.momentcourse.query.dto.MomcourselocationDTO">
        <id property="courseLocationNo" column="course_location_no"/>
        <result property="momCourseNo" column="mom_course_no"/>
        <result property="momentNo" column="moment_no"/>
    </resultMap>

    <resultMap id="momentResultMap" type="com.myhandjava.momentours.moment.query.dto.MomentDTO">
        <id property="momentNo" column="moment_no"/>
        <result property="momentLocationName" column="moment_location_name"/>
    </resultMap>

    <!-- 추억 코스 전체 조회 -->
    <select id="findAllMomentCourse" resultMap="momentCourseResultMap" parameterType="_int">
        SELECT mom_course_no
             , mom_course_title
             , mom_course_sort
             , mom_course_like
             , mom_course_create_date
             , mom_course_update_date
             , mom_course_memo
             , mom_course_public
             , mom_course_is_deleted
             , mom_course_couple_no
             , mom_course_favorite
          FROM tb_momentcourse
         WHERE mom_course_public = false
               AND mom_course_couple_no = ${ mom_course_couple_no }
               OR mom_course_public = true
    </select>

    <!-- 추억 코스 상세 조회 -->
    <select id="findMomentCourseByMomCourseNo" resultMap="momentCourseResultMap" parameterType="_int">
        SELECT mom_course_no
        , mom_course_title
        , mom_course_sort
        , mom_course_like
        , mom_course_create_date
        , mom_course_update_date
        , mom_course_memo
        , mom_course_public
        , mom_course_is_deleted
        , mom_course_couple_no
        , mom_course_favorite
        FROM tb_momentcourse
        WHERE (mom_course_public = false
              AND mom_course_couple_no = ${ momCourseCoupleNo }
              OR mom_course_public = true)
              AND mom_course_no = ${ momCourseNo }
    </select>

    <select id="searchMomentCourse" parameterType="map" resultMap="momentCourseResultMap">
        SELECT DISTINCT mc.*, m.moment_location_name
        FROM tb_momentcourse mc
        LEFT JOIN tb_momcourselocation ml ON mc.mom_course_no = ml.mom_course_no
        LEFT JOIN tb_moment m ON ml.moment_no = m.moment_no
        WHERE mc.mom_course_public = true
        <if test="searchCondition == 'courseName' and keyword != null and keyword != ''">
            AND mc.mom_course_title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="searchCondition == 'locationName' and keyword != null and keyword != ''">
            AND m.moment_location_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="searchCondition == 'courseAndLocation' and keyword != null and keyword != ''">
            AND (mc.mom_course_title LIKE CONCAT('%', #{keyword}, '%')
            OR m.moment_location_name LIKE CONCAT('%', #{keyword}, '%'))
        </if>
    </select>

</mapper>